html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    font-family: monospace;
}

body {
    margin: 0; /*Override default*/
    position: relative
}

header {
    height: 3em;
    color: #fff;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select:none;
}

.headertextRight {
    right: 50% !important;
    margin-right: 3em !important;
}

.headertextCenter {
    right: 0;
    width: 100% !important;
}

.maincolor {
    color: #FFFFFF;
}

.headerbutton {
    width: 2.25em;
    height: 2.25em;
    margin-top: 0.25em;
    position: relative;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
}

#outputbutton {
    position: relative;
    margin-top: -2.75em;
    height: 2em;
    transition: margin-top 0.5s;
    -webkit-transition: margin-top 0.5s;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    margin-left: -3em;
    left: 100%;
}

.fancybutton {
    transition: box-shadow 0.1s ease-in-out;
    border-radius: 5px;
}
.fancybutton:hover {
    box-shadow: inset 0 0 4px #fff, 0 0 3px #333;
}
.fancybutton:active {
    box-shadow: inset 0 0 6px #333;
}

.CodeMirror {
    height: auto !important;
}

.holder {
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.button {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    background-color: #D8D8D8;
    height: 1em;
    padding-top: 0.35em;
    padding-bottom: 0.55em;
    border-radius: 2px;
    cursor: pointer;
}

.button_hover { /*_hover for JavaScript mousover*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    background-color: #C8C8C8;
    height: 1em;
    padding-top: 0.35em;
    padding-bottom: 0.55em;
    border-radius: 2px;
}

.button:hover {
    background-color: #C8C8C8;
}

.welcomeText {
    background-color: #eee;
    position: relative;
    z-index: 7;
    left: 0%;
    padding: 10px;
    height: -webkit-calc(100% - 52px);
    height: calc(100% - 52px);
    border-radius: 4px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 1.2em;
}

.popup {
    background-color: #eee;
    position: absolute;
    z-index: 7;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select:none;
}

.filepopup {
    width: 255px;
    height: 100px;
    margin-left: -125px;
    margin-top: -50px;
}

/*New file prompt*/
.filetext {
    position: relative;
    width: 79%;
    height: 26px;
    left: 2px;
    top: 4px;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*Edit prompt*/
.editfiletext {
    position: relative;
    width: 98%;
    height: 26px;
    left: 1%;
    top: 4px;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.deletetext {
    position: relative;
    width: 100%;
    height: 26px;
    text-align: center;
    left: 2px;
    top: 4px;
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.filetype {
    position: relative;
    top: 3px;
    height: 26px;
}

.popuptitle {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    margin: 0;
    left: 0;
    top: 0;
}

.filecancel {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    text-align: center;
    position: relative;
    margin: 0;
    left: 2.5%;
    top: -16px;
    width: 45%;
    cursor: pointer;
}

.fileokay {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin: 0;
    left: 52.5%;
    top: 13px;
    width: 45%;
    cursor: pointer;
}

.folderpopup {
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -150px;
}

.fileholder {
    position: relative;
    background-color: inherit;
    margin: 15px;
    left: 0;
    top: 0;
    width: auto;
    height: 205px;
    overflow-y: auto;
    overflow-x: hidden;

}

.newfilebutton {
    margin-top: 0 !important;
}

.filetext {
    background-color: #EEE;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    position: relative;
    width: 96%;
    left: 2%;
    margin-top: 3%;
    height: 20px;
    padding: 2px;
    user-select: none;
}

.filebutton {
    background-color: #D8D8D8;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    position: relative;
    width: 96%;
    left: 2%;
    margin-top: 3%;
    height: 20px;
    padding: 2px;
    cursor: pointer;
    user-select: none;
}

.filebutton_hover {
    background-color: #C8C8C8;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    position: relative;
    width: 96%;
    left: 2%;
    margin-top: 3%;
    height: 20px;
    padding: 2px;
    cursor: pointer;
}

.filebutton:hover {
    background-color: #C8C8C8;
}

.filediv_hover {
    background-color: #C8C8C8;
}

.filediv:hover {
    background-color: #C8C8C8;
}

.themecancel {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    text-align: center;
    position: relative;
    margin: 0;
    cursor: pointer;
    left: 30%;
    width: 40%;
}

.untitleddiv {
    margin-bottom: -0.3em;
}

.pencilbutton {
    transition: box-shadow 0.1s ease-in-out;
    width: 1.3em;
    height: 1.3em;
    position: relative;
    left: 99%;
    margin-top: -1.45em;
    margin-left: -1.3em;
    cursor: pointer;
}

.pencilbutton_hover {
    box-shadow: inset 0 0 4px #fff, 0 0 3px #333;
    transition: box-shadow 0.1s ease-in-out;
    width: 1.3em;
    height: 1.3em;
    position: relative;
    left: 99%;
    margin-top: -1.45em;
    margin-left: -1.3em;
    border-radius: 25%;
    cursor: pointer;
}

.pencilbutton_hover:active {
    box-shadow: inset 0 0 6px #333;             
}

.outputClosed {
    position: absolute;
    width: inherit;
    top: 100%;
    left: 0;
    font-family: monospace;
    line-height: 1em;
    z-index: 4;
}

.codeLong {
    height: calc(100% - 2em);
    height: -webkit-calc(100% - 2em);
}

#outputActual {
    top: 27px;
    height: calc(100% - 26px);
    height: -webkit-calc(100% - 26px);
    width: 100%;
    line-height: 1;
}

#stdin {
    color: inherit;
    background-color: inherit;
    border-width: 0;
    display: inline;
    outline: none;
}

.sprerr {
    background-color: #000;
    background-color: #ffffaf;
}

.spr1 {
    color: #fff;
    background-color: #110000;
}
.spr2 {
    color: #fff;
    background-color: #220000;
}
.spr3 {
    color: #fff;
    background-color: #330000;
}
.spr4 {
    color: #fff;
    background-color: #440000;
}
.spr5 {
    color: #fff;
    background-color: #550000;
}
.spr6 {
    color: #fff;
    background-color: #660000;
}
.spr7 {
    color: #fff;
    background-color: #770000;
}
.spr8 {
    color: #fff;
    background-color: #880000;
}
.spr9 {
    color: #fff;
    background-color: #990000;
}
.spra {
    color: #fff;
    background-color: #aa0000;
}
.sprb {
    color: #fff;
    background-color: #bb0000;
}
.sprc {
    color: #fff;
    background-color: #cc0000;
}
.sprd {
    color: #fff;
    background-color: #dd0000;
}
.spre {
    color: #fff;
    background-color: #ee0000;
}
.sprf {
    color: #fff;
    background-color: #ff0000;
}
